{% extends 'base.html' %}

{% block title %}

<h1>{{ post.category }}</h1>
<span class="subheading">By: {{ post.author }}</span> 
{% endblock %}

{% block content %}

{% if user.is_authenticated %}
    {% if user.id == post.author.id %}
<a href="{% url 'update_post' post.pk %}"> (Edit)</a>
<a href="{% url 'delete_post' post.pk %}"> (Delete)</a>
    {% endif %}
{% endif %}
<hr>
<h2>{{post.title }}</h2>
<h6>{{post.title_tag}}</h6>
{{ post.body | safe }} - {{ post.post_date }}

<br/><br/>
<a href="{% url 'home' %}" class='btn btn-secondary'>Back </a>

{% endblock %}