{% extends 'base.html' %}

{% block title %}
<h1>Change Password</h1>
{% endblock %}

{% block content %}

<div class="form-group">
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        

<ul>
    <li> Your password can’t be too similar to your other personal information.
    <li> Your password must contain at least 8 characters.
    <li> Your password can’t be a commonly used password.
    <li> Your password can’t be entirely numeric.</li>
</ul>

<button class="btn btn-secondary">Change password</button>

</div>


{% endblock %}